body {
  margin: 0;
  background-color: #fff;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.container-body {
  display: grid;
  gap: 24px;
}
@media (min-width: 700px) {
  .container-body {
    display: flex;
    height: 100vh;
  }
}
.container-body .rec-qr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: #f2f4f7;
  padding: 24px;
  box-shadow: 0 25px 26px rgba(0, 0, 0, 0.25);
  display: none;
}
.container-body .rec-qr .header-nav .close img {
  width: 40px;
  height: 40px;
}
.container-body .rec-qr .title {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  color: #85af4e;
}
.container-body .rec-qr .header {
  padding: 12px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  color: #2e7a52;
}
.container-body .rec-qr .final-total {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
}
.container-body .rec-qr .rec-orders {
  width: 100%;
}
.container-body .rec-qr .rec-orders tbody {
  width: 100%;
}
.container-body .rec-qr .qrcode {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container-body .rec-qr .qrcode img {
  width: 130px;
  height: 130px;
}
.container-body .rec-qr .qrcode div {
  font-size: 22px;
  color: #2e7a52;
  font-weight: 600;
}
.container-body .navigation {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 24px;
  background-color: #f2f4f7;
}
@media (min-width: 700px) {
  .container-body .navigation {
    height: 100%;
    width: auto;
    left: 0;
    top: 0;
    padding: 24px 12px;
  }
  .container-body .navigation .desktop {
    display: grid;
  }
  .container-body .navigation .mobile {
    display: none;
  }
}
.container-body .navigation .mobile {
  display: flex;
}
.container-body .navigation .mobile .menu-btn {
  height: 30px;
  gap: 12px;
  display: grid;
}
.container-body .navigation .mobile .menu-btn button {
  padding: 6px;
  background-color: #2e7a52;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: 0.1s ease-in;
}
.container-body .navigation .mobile .menu-btn button:hover {
  background-color: rgb(32.0357142857, 84.9642857143, 57.1071428571);
}
.container-body .navigation .mobile .menu-btn button img {
  display: block;
  width: 28px;
  height: 28px;
}
.container-body .navigation .desktop {
  display: none;
}
.container-body .counter {
  width: 100%;
}
@media (min-width: 700px) {
  .container-body .counter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.container-body .counter #order-list {
  padding: 24px;
  display: grid;
  border-radius: 24px;
  margin-bottom: 12px;
  gap: 8px;
  color: #000;
  background-color: #eee;
  margin-top: 80px;
  width: 100%;
}
.container-body .counter #order-list .product-card {
  border-radius: 12px;
  background: #fff;
  border: solid 3px #2e7a52;
  display: flex;
  padding: 12px;
  justify-content: space-between;
  animation: pop 0.2s ease-in;
}
@keyframes pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container-body .counter #order-list .product-card .product-info {
  display: grid;
  gap: 4px;
}
.container-body .counter #order-list .product-card .product-info .product-name {
  font-size: 18px;
  font-weight: 800;
  color: #2e7a52;
}
.container-body .counter #order-list .product-card .product-info .product-price,
.container-body .counter #order-list .product-card .product-info .product-quantity {
  font-size: 16px;
  font-weight: 700;
  opacity: 0.8;
}
.container-body .counter #order-list .product-card .order-info {
  display: grid;
  gap: 8px;
  justify-content: flex-end;
}
.container-body .counter #order-list .product-card .order-info .remove-container {
  display: flex;
  justify-content: flex-end;
}
.container-body .counter #order-list .product-card .order-info .remove-container .remove-btn {
  height: 35px;
  width: 35px;
  background-color: rgb(255, 0, 70);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: 0.1s ease-in;
}
.container-body .counter #order-list .product-card .order-info .remove-container .remove-btn:hover {
  background-color: #cc0038;
}
.container-body .counter #order-list .product-card .order-info .quantity-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 4px;
  background-color: #2e7a52;
  border-radius: 100px;
}
.container-body .counter #order-list .product-card .order-info .quantity-btns .order-quantity {
  color: #fff;
}
.container-body .counter #order-list .product-card .order-info .quantity-btns button {
  padding: 8px;
  width: 35px;
  background-color: #fff;
  height: 35px;
  border-radius: 50%;
}
.container-body .counter .payment-container {
  width: 100%;
  padding: 24px;
  background-color: #eee;
}
.container-body .counter .payment-container select {
  /* Remove default arrow */
  /* Add custom arrow */
  padding: 12px;
  margin-bottom: 12px;
  width: 100%;
}
.container-body .counter .payment-container .option-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.container-body .counter .payment-container .option-btns button {
  border-radius: 8px;
  padding: 8px;
  font-size: 12px;
  font-weight: 600;
}
.container-body .counter .payment-container .option-btns .sec-btn {
  background-color: #fff;
  border: solid 3px #2e7a52;
}
.container-body .counter .payment-container .option-btns .pri-btn {
  background-color: #2e7a52;
  color: #fff;
  border: solid 3px #2e7a52;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 24px;
}
@media (min-width: 700px) {
  #container {
    grid-auto-rows: 300px;
  }
}
#container .p-active {
  color: #fff !important;
  background-color: #2e7a52 !important;
}
#container .p {
  padding: 12px;
  border-radius: 18px;
  color: #2e7a52;
  display: grid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: solid 3px #2e7a52;
  transition: 50ms ease-in;
  animation: raise 0.1s ease-in;
}
@keyframes raise {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
#container .p .p-head {
  display: grid;
  align-items: center;
  gap: 24px;
  justify-content: center;
  text-align: center;
}
#container .p .p-head .pn {
  font-weight: 900;
}
#container .p .p-head .pd {
  font-size: 18px;
  font-weight: 700;
}
#container .p .p-foot {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 32px;
}
#container .p .p-foot .pq,
#container .p .p-foot .pbp {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#container .p .p-foot .pq .d,
#container .p .p-foot .pbp .d {
  font-size: 24px;
  font-weight: 500;
}
#container .p .p-foot .pq .title,
#container .p .p-foot .pbp .title {
  font-size: 12px;
}

/*# sourceMappingURL=orders.css.map */
