// @import "./mixins.scss";

body {
  margin: 0;
  background-color: #fff;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.container-body {
  display: grid;
  gap: 24px;

  @media (min-width: 700px) {
    display: flex;
    height: 100vh;
  }

  .rec-qr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #f2f4f7;
    padding: 24px;
    box-shadow: 0 25px 26px rgba(0, 0, 0, 0.25);
    display: none;

    .header-nav {
      .close {
        img {
          width: 40px;
          height: 40px;
        }
      }
    }

    .title {
      font-size: 24px;
      font-weight: 800;
      text-align: center;
      color: #85af4e;
    }
    .header {
      padding: 12px 0;
      text-align: center;
      font-size: 24px;
      font-weight: 800;
      color: #2e7a52;
    }

    .final-total {
      padding: 12px 0;
      display: flex;
      justify-content: space-between;
    }

    .rec-orders {
      // display: grid;
      width: 100%;
      //
      tbody {
        width: 100%;
      }
    }

    .qrcode {
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;

      img {
        width: 130px;
        height: 130px;
      }

      div {
        font-size: 22px;
        color: #2e7a52;
        font-weight: 600;
      }
    }
  }

  .navigation {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    // background-color: #000;
    padding: 12px 24px;
    background-color: #f2f4f7;

    @media (min-width: 700px) {
      height: 100%;
      width: auto;
      left: 0;
      top: 0;
      padding: 24px 12px;
      // background-color: #f0f;

      .desktop {
        display: grid;
      }

      .mobile {
        display: none;
      }
    }

    .mobile {
      display: flex;

      .menu-btn {
        // width: 30px;
        height: 30px;
        // background-color: #f00;
        gap: 12px;
        // display: flex;
        display: grid;

        button {
          padding: 6px;
          background-color: #2e7a52;
          border-radius: 6px;
          justify-content: center;
          align-items: center;
          display: flex;
          cursor: pointer;
          transition: 0.1s ease-in;

          &:hover {
            background-color: darken(#2e7a52, 10);
          }
          img {
            display: block;
            width: 28px;
            height: 28px;
          }
        }
      }
    }

    .desktop {
      display: none;
    }
  }

  .counter {
    width: 100%;

    @media (min-width: 700px) {
      // height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    #order-list {
      padding: 24px;
      display: grid;
      border-radius: 24px;
      margin-bottom: 12px;
      gap: 8px;
      color: #000;
      background-color: #eee;
      margin-top: 80px;
      width: 100%;

      // @media screen {
      //   margin-top: 24px;
      // }

      .product-card {
        border-radius: 12px;
        background: #fff;
        border: solid 3px #2e7a52;
        display: flex;
        padding: 12px;
        justify-content: space-between;
        animation: pop 0.2s ease-in;

        @keyframes pop {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        .product-info {
          display: grid;
          gap: 4px;

          .product-name {
            font-size: 18px;
            font-weight: 800;
            color: #2e7a52;
          }

          .product-price,
          .product-quantity {
            font-size: 16px;
            font-weight: 700;
            opacity: 0.8;
          }
        }

        .order-info {
          display: grid;
          gap: 8px;
          justify-content: flex-end;
          // justify-content: space-between;

          .remove-container {
            display: flex;
            justify-content: flex-end;

            .remove-btn {
              height: 35px;
              width: 35px;
              background-color: rgba(255, 0, 70);
              color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 8px;
              transition: 0.1s ease-in;

              &:hover {
                background-color: darken(rgba(255, 0, 70), 10);
              }
            }
          }

          .quantity-btns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            padding: 4px;
            background-color: #2e7a52;
            border-radius: 100px;

            .order-quantity {
              color: #fff;
            }

            button {
              padding: 8px;
              width: 35px;
              background-color: #fff;
              height: 35px;
              border-radius: 50%;
            }
          }
        }
      }
    }

    .payment-container {
      width: 100%;
      padding: 24px;
      background-color: #eee;

      select {
        // -webkit-appearance: none;
        // -moz-appearance: none;
        // appearance: none;
        /* Remove default arrow */
        // background-image: url(...);
        /* Add custom arrow */
        padding: 12px;
        margin-bottom: 12px;
        width: 100%;
      }

      .option-btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;

        button {
          border-radius: 8px;
          padding: 8px;
          font-size: 12px;
          font-weight: 600;
        }

        .sec-btn {
          background-color: #fff;
          border: solid 3px #2e7a52;
        }

        .pri-btn {
          background-color: #2e7a52;
          color: #fff;
          border: solid 3px #2e7a52;
        }
      }
    }
  }
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 24px;

  @media (min-width: 700px) {
    grid-auto-rows: 300px;
  }

  .p-active {
    color: #fff !important;
    background-color: #2e7a52 !important;
  }

  .p {
    padding: 12px;
    border-radius: 18px;
    color: #2e7a52;
    display: grid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: solid 3px #2e7a52;
    transition: 50ms ease-in;
    animation: raise 0.1s ease-in;

    @keyframes raise {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    .p-head {
      display: grid;
      align-items: center;
      gap: 24px;
      justify-content: center;
      text-align: center;

      .pn {
        font-weight: 900;
      }

      .pd {
        font-size: 18px;
        font-weight: 700;
      }
    }

    .p-foot {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 32px;

      .pq,
      .pbp {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;

        .d {
          font-size: 24px;
          font-weight: 500;
        }

        .title {
          font-size: 12px;
        }
      }
    }
  }
}
